*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  background-size:auto 100vh;
  font-family: Arial;
  font-size: 10px;
  height: 100vh
}
/*se a tela tiver pelo menos 400 pixels vai carregar estes estilos*/
/*break point*/
/*em é relativo*/
@media (min-width:400px) {
  body {
    font-size: 14px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  display: block;
  padding: 10px 20px;
}

.menu {
  background-color:gray;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style:none;
}

.site-title,
.site-subtitle {
  color: gray;
  text-align: center;
}

.site-title {
  font-size: 4em;
}
.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  width:100px;
  height: 100px;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
   text-decoration: underline pink;
}
